/* style.css */
body {
    font-family: Arial, sans-serif;
}

#urlForm {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#urlInput {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
}

#submitButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    width: 100px;
    cursor: pointer;
}

#submitButton:hover {
    background-color: #0056b3;
}
@media only screen and (max-width: 600px) {
    #urlForm {
        margin: 10px;
        padding: 10px;
        max-width: 100%; /* スマホサイズ時は幅100% */
    }

    #urlInput {
        margin-bottom: 8px;
        max-width: 100%;
    }

    #submitButton {
        padding: 8px 16px;
    }
}
