<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>indexリクエスト</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> <!-- CSSファイルのリンク -->
</head>
<body>

    <form action="#" method="post" id="urlForm">
        <label for="firstUrlInput"><strong>最初の</strong>URL:</label>
        <input type="text" id="firstUrlInput" name="firstUrlInput">

        <label for="lastUrlInput"><strong>最後の</strong>URL:</label>
        <input type="text" id="lastUrlInput" name="lastUrlInput">
        <br></br>
        <button type="submit" id="submitButton">送信</button>

    </form>
    <!--結果を表示-->
    <div id="result"></div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script> <!-- JavaScriptファイルのリンク --> 
</body>
</html>
